@font-face {
  font-family: 'helvetica-bold';
  src:url(font-path('helvetica_neu_bold.woff2')) format('woff2'),
      url(font-path('helvetica_neu_bold.woff')) format('woff');
}

@font-face {
  font-family: 'hiramarupro';
  src:url(font-path('hiramarupro.woff2')) format('woff2'),
      url(font-path('hiramarupro.woff')) format('woff');
}
