// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

$secondary-font: 'hiramarupro';
// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$orange: #F99500;
$blue: #1565c0; 
$dark-gray: #3E3E3E;
$medium-gray: #999;
$light-gray: #ddd;
$nav-color: #BCBCBC;
$border-color: #9d9d9d;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: #f6f6f6;
$container-background-color: $secondary-background-color;
// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

//container width
$max-width: 1200px !default;
  

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

//header
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$navigation-padding: 1em;
$navigation-background: transparent;
$navigation-color: $nav-color;
$navigation-color-hover: #555;
$navigation-height: 60px;
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;

$base-border-color: #4B4B4B !default;
$base-background-color: #4B4B4B !default;
$base-spacing: 4em !default;
$white: #fff !default;
$light-gray: #ddd !default;
$medium-screen: 40em !default;
$tab-border: 1px solid #4B4B4B;
$tab-content-background: #4B4B4B;
$tab-active-background: $tab-content-background;
$tab-inactive-color: #9D9D9D;
$tab-inactive-hover-color: darken($light-gray, 5);
$tab-mode: $medium-screen;