.l-banner
  .title{
    text-align: right;
    h1{
      font-size: rem(100);
      @include margin(rem(20) null null null);
      @include media($bp-large){
        font-size: rem(80);
      }
      @include media(max-width $bp-large){
        font-size: rem(60);
      }
      @include media(max-width $bp-medium){
        font-size: rem(40);
      }
      @include media(max-width $bp-small){
        font-size: rem(32);
      }       
    }
    
    h2{
      font-size: rem(90);
      @include media($bp-large){
        font-size: rem(80);
      }
      @include media(max-width $bp-large){
        font-size: rem(60);
      }
      @include media(max-width $bp-medium){
        font-size: rem(30);
      }      
      @include media(max-width $bp-small){
        font-size: rem(28);
      }      
    }
  }
  .search
    h2{
      font-size: rem(120px);
      text-shadow: 1px 1px 1px #fff;
      @include media($bp-large){
        font-size: rem(80);
      }
      @include media(max-width $bp-large){
        font-size: rem(60);
      }
      @include media(max-width $bp-medium){
        font-size: rem(40);
      } 
      @include media(max-width $bp-small){
        font-size: rem(40);
      }       
    }
