.hero{
  background:  asset-url('banner.png') center center no-repeat;
  background-size: cover;
  @include size(100% 28em);
  @include media(max-width $bp-medium){
    @include size(100% 37em);
  }
}
.l-banner
  .title{
    text-align: right;
    margin-top: 70px;
    margin-right: 20px;
    h1{
      font-weight: bold;
      @include margin(rem(20) null null null);
      @include media($bp-small){
        font-size: 3.4rem;
        line-height: 62px;
      }         
      @include media($bp-medium){
        font-size: 50px;
        line-height: 64px;
      }
    }
  }
