.breadcrum
  background:  asset-url('top-detail-img.png') center center no-repeat
  background-size: cover
  @include size(100% 490px)
  color: $light-gray
  font-size: 40px
  a
    color: $light-gray
    margin-right: 10px