header.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-right: 2em;
    @include media (max-width $bp-medium){
      padding: 0  1em 0 0;
    }
    img {
      max-height: $navigation-height;
      padding: 0.1em 0;
      @include media (max-width $bp-medium){
        padding: 0.3em 0;
      }
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
    @include media(max-width $bp-small){
      @include position(absolute, 90px 0 null null);
      @include size(200px auto);
      background: #fafafa;
    }
  }
  .left-menu{
    float: left;
    display: inline;
    padding-left: 30px;
    line-height: 60px;
    li{
      padding-right: 0;
      a{
        color: $navigation-color;
        display: inline-block;
        text-decoration: none;
        font-size: 18px;
        @include media ($horizontal-bar-mode) {
          padding-right: 1em;
        }
      }
    }
  }

  // The nav items
  ul li.nav-link:last-child{
    padding-right: 0;
  }
  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    &:last-child{
      a{
        padding-right: 0;
      }
    }
    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    @include media (min-width $bp-small) {
      padding-right: 1.2em;
    }
    @include media (min-width $bp-medium) {
      padding-right: 2em;
    }    

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;
      font-size: 18px;
      @include media ($horizontal-bar-mode) {
        padding-right: 1em; 
      }
      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }  
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-color-hover;
    padding-bottom: 3px;
  }


  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

}
