.office-data
  border: 2px solid $medium-gray
  padding: 5%
  margin-bottom: 15px
  color: #95989A
  font-size: 18px
  line-height: 26px
  @include media($bp-large)
    font-size: 22px
    line-height: 32px
  h3
    font-size: 26px
  ul
    margin-bottom: 50px
  a
    color: #95989A
    margin-bottom: 15px
    display: block

  &__proposal,
  &__member,
  &__key
    min-height: 80px