#modal{
  background-color: rgba(#000, 0.85);
  display: none;
  position: fixed; 
  z-index: 11111;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  // opacity: 0;
  transition: opacity 0.25s ease;
  }
.company-info{
  @include outer-container;
}
.company-popup{
  padding-top: 70px;
  .close{
    cursor: pointer;
    position: absolute;
    top: -50px;
    right: 10px;
    font-size: 100px;
    color: #cacaca;
    }
  @include outer-container;
  @include clearfix;
  transition: opacity 0.25s ease;
  width: 100%;
  margin: auto;
  &--image{
    @include span-columns(6);
    padding-left: 30px;
    margin-right: 0;
  }
  &--building-info{
    @include span-columns(5);
    @include shift(1);
    @include omega;
    @include media(max-width $bp-medium){
      @include span-columns(6);
      margin-left: 0;
      padding-left: 20px;
    }

    .company-popup--block{  
      background: #fff;
      border-radius: 25px;
      padding: 40px 40px 20px 40px;
      &>h4{
        margin-bottom: 40px;
        @include media(max-width $bp-medium){
          margin-bottom: 20px;
        }
      }
      h4{
        font-weight: bold;
        font-size: 16px;
        @include media(max-width $bp-medium){
         font-size: 14px;
        }        
      }
       @include media(max-width $bp-medium){
        padding: 20px;
       }
    }
    &__details{
      line-height: 15px;
      font-size: 13px;
      @include media(max-width $bp-medium){
        font-size: 13px;
      }
    }
    .read-more{
      text-align: right;
      font-size: 16px;
    }
  }
  .buiding-info--list{
    margin-bottom: 20px;
  }
  .company-images{
    margin-top: 30px;
    li{
      padding-right: 10px; 
      @include inline-block;
      width: 150px;
      @include media(max-width $bp-medium){
        width: 115px;
      }
    }
  }
}