.company-search-list{
  margin-left: 2%;
  section.company-item{
    margin: 10px 0px 0px 0px;
    padding: 30px 20px 30px 50px ;
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 25px;
    @include outer-container;
    &:first-child{
      margin: 40px 0px 0px 0px;
    }
    h2.service-title{
      @include inline-block;
    }
    .company-item-details{
      @include outer-container;
      @include clearfix;
      .company-item-details-wrapper{
        @include span-columns(8);
        h3{
          display: inline-block;
          border-bottom: 2px solid $action-color;
          font-size: 28px;
          a {
            color: #000;
          }
         }
        .company-info{
          &--adddress{
            @include padding(20px null 0 null);
            margin-bottom: 0px;
            text-align: center;
          }
          &--tag{
            display: block;
            .btn--primary{
              background-color: $action-color;
              padding: 5px 10px;
              margin-right: 40px;
              border-radius: 3px;
              border: 1px solid $border-color;
              color: #fff;
              font-size: 16px;
              font-weight: normal;
              @include media($bp-small){
                margin-right: 30px;
                padding: 5px;
              }
           }
          }
          &--group{
            margin-top: 10px;
          }
          &--building-type{
            display: inline-block;
            margin-right: 20px;
            .btn-ghost {
              border: 1px solid rgba(249, 35, 0, 0.45);
              border-radius: 3px;
              padding: 5px 10px;
              margin-right: 7px;
              margin-bottom: 5px;
              color: #000;
              font-size: 14px;
              @include inline-block;
            }
            a.chosen-enable{
              background: transparent;
              color: $action-color;
              }
            a.unchose-enable{
              background: $light-gray;
              color: #fff;
              border-color: $medium-gray;
            }
          }
          &--scale{
            display: inline;
            span{
              @include inline-block;
              vertical-align: middle;
              color: $action-color;
              font-size: 12px;
              border-radius: 3px;
              margin-right: 5px;
              padding: 1px 12px;
              border: 1px solid $border-color;
              line-height: 14px;
              text-align: center;
            }
            span.chosen-enable{
              background: transparent;
              color: $action-color;
              }
            span.unchose-enable{
              background: $light-gray;
              color: #fff;
              border-color: $medium-gray;
            }
          }
          &--star{
            display: inline-block;
            width: 90px;
            padding-left: 40px;
            float: right;
            background-size: 34px;
            height: 36px;
            line-height: 36px;
          }
          &--desc{
            @include margin(30px null 0 null);
            color: #95989A;
          }
        }
      &--image{
        padding: 0px;
        @include span-columns(4);
        @include omega();
        text-align: center;
      }
      }
    &--intro{
      margin-top: 40px;
      @include outer-container;
      article{
        @include span-columns(9);
        color: #95989A;
      }
      .save{
        @include span-columns(2);
        padding-left: 42px;
        font-size: 18px;
        width: 100px;
        margin-left: 30px;
      }
    }
  }
    
  }
}