.l-banner
  .search{
    @include margin(0 auto);
    @include size(100% 0);
    h2{
      
      font-size: 70px;
      font-weight: normal;
      text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff;
      @include media($bp-small){
        font-size: 62px;
        @include margin(null null 20px 7%);
      }         
      @include media($bp-medium){
        font-size: 72px;
        @include margin(null null 20px 15%);
      }
    }
  .form{
    max-width: 1000px;
    margin: 0 auto;
    &--field{
      @include padding(0 2%);
      @include inline-block;
      &:first-child{
        width: 54%;
      }
      &:nth-child(2n){
        width: 30%;
        padding-left:0 ;
      }
      &__text{
        @include size (100% 60px);
        @include border-color(#95989A);
        margin-bottom: 0;
        font-size: 16px;
        padding-left: 16px;
        @include media(max-width $bp-medium){
          @include size(100% 60px);
        }     
      }
    }
    &--action{
      @include inline-block;
      @include padding(0 0 0 2%);
      .btn{
        &--primary{
          @include size (auto 60px);
          border-radius: 24px;
          font-size: 32px;
          line-height: 0;
          padding: 0 32px;
          border: 1px solid #95989A;
          @include media(max-width $bp-medium){
            @include size(100% 60px);
            padding: 15px 24px;
            font-size: rem(30);
          }       
        }
      }
    }
  }
}
