.search-results-container{
  border: 1px solid $border-color;
  @include outer-container;
  @include background($container-background-color);
  aside{
    border-right: 1px solid $border-color;
    @include span-columns(3);
    @include omega();
    min-height: 1400px;
    position: relative;
    .search-fields{
      padding: 0px 20px 0px 20px;      
      @include clearfix;
      &:first-of-type{
        padding-top: 40px;
      }
      span{
        display: block;
        padding-left: 40px;
        color: $action-color;
      }
      h2{
        font-size: 42px;
        @include media(max-width $bp-large){
          font-size: 32px;
        }
      }
      .evaluation
      {
        color: #3E3E3E
      }
      label{
        font-weight: normal;
      }
      .form{
        &--field{
          &__text{
            border: 1px solid $border-color;
            font-size: 18px;
          }
        }
        &--action{
          float: right;
          button{
            border: 1px solid $border-color;
            border-radius: 14px;
            background-color: rgba(203, 203, 203, 0.22);
            padding: 10px 24px;
            color: #999;
          }
        }
      }
    }
  }
  section.company-search-list{
    @include span-columns(9);
    @include omega();
    @include padding(null em(15) null null);
  }
  clear: both;
}