.search-results-container{
  border: 1px solid $border-color;
  @include outer-container;
  clear: both;
  @include background($container-background-color);
  aside{
    border-right: 1px solid $border-color;
    @include span-columns(3);
    @include omega();
    .search-fields{
      padding: 40px 40px 80px 40px;
      @include media(max-width $bp-large){
        padding: 20px 20px 80px 20px;
      }
      span{
        display: block;
        padding-left: 40px;
        color: $action-color;
      }
      h2{
        font-size: 42px;
        @include media(max-width $bp-large){
          font-size: 32px;
        }
      }
      .evaluation
      {
        color: #3E3E3E
      }
      .form{
        &--field{
          .last{
            margin-top: 40px;
          }
          &__text{
            border: 1px solid $border-color;
          }
        }
        &--action{
          float: right;
          button{
            border: 1px solid $border-color;
            border-radius: 25px;
            background-color: rgba(203,203,203,0.22);
            padding: 20px 30px;
          }

          }
        }
    }
    hr{
      clear: both;
    }
  }
  section.search-results-list{
    @include span-columns(9);
    @include omega();
    @include padding(null em(40) null em(20));
  }
  clear: both;
}