.star{
  border: 1px solid $light-gray;
  border-radius: 15px;
  background: asset-url('star.png') no-repeat center center;
  @include size(100px 40px );
  padding: 0px 0 0 36px;
  background-position-x: 5px;
  background-size: 36px;
  color: #ccc;
  line-height: 40px;
  font-size: 16px;
}