.home .top-search{
  @include position(absolute, 60px 0 0 0);
}
.top-search{
  @include size(100% 62px);
  @include position(relative, null);
  background: #3E3E3E;
  .search{
    .form{
      @include padding(null null null em(50));
      @include media(max-width $bp-medium){
        padding-left: 0;
      }
      @include media(max-width $bp-small){
        @include padding(null null null em(15));
      }
      &--field{
        @include padding(em(8) null em(8) em(10));
        @include media(max-width $bp-small){
          @include padding(em(10) em(10) null);
        }
        @include inline-block;
        &__text{
          @include size(auto 1.8em);
          margin-bottom: 0px;
          @include media(max-width $bp-small){
            @include size(10em/1.2 2em);
          }
        }
      }
      &--action{
        @include inline-block;
        .btn--primary{
          margin-left: 15px;
          padding: 10px 32px;
          border-radius: 15px;
          border: 1px solid #95989A;
          font-size: 22px;      
        }
      }
    }
  }
}