.top-search{
  @include size(100% 80px);
  @include position(absolute, 60px 0 0 0);
  background: #3E3E3E;

  @include media($bp-small){
    @include size(100% 60px);
  }    
  .search{
    .form{
      @include padding(null null null em(60));
      @include media(max-width $bp-medium){
        padding-left: 0;
      }
      @include media(max-width $bp-small){
        @include padding(null null null em(15));
      }
      &--field{
        @include padding(em(8) null em(8) em(10));
        @include media(max-width $bp-small){
          @include padding(em(10) em(10) null);
        }
        @include inline-block;
        &__text{
          @include size(13em 2.6em);
          margin-bottom: 0px;
          @include media(max-width $bp-small){
            @include size(10em/1.2 2em);
          }
        }
      }
      &--action{
        @include inline-block;
        .btn--primary{
          margin-left: 15px;
          padding: 16px 36px;
          @include border-top-radius(15px);
          @include border-right-radius(15px);
          @include border-bottom-radius(15px);
          @include border-left-radius(15px);
          border: 1px solid #95989A;
          font-size: 30px;
          @include media(max-width $bp-large){
            padding: 16px 24px;
            font-size: 24px;
          }
          @include media(max-width $bp-medium){
            padding: 12px 24px;
            font-size: 20px;
          }          
        }
      }
    }
  }
}