html,body{
  padding: 0;
  margin: 0;
}
body {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.4;
    line-height: $base-line-height*1.4;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.5;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.6;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.8;
  }
}

.container{
  @include outer-container;
  @include media(max-width $bp-xlarge){
    @include pad(0 40px);  
  }
  @include media(max-width $bp-large){
    @include pad(0 20px);  
  }  
  @include media(max-width $bp-medium){
    @include pad(0 10px);  
  }
  @include media(max-width $bp-small){
    @include pad(0 5px);  
  }
}

.category{
  @include position(relative, null);
  @include size(100% rem(257));
  @include margin(-80px 0 0 0);
}

.marekting-info{
  text-align: center;
  @include pad(1em 0);
  h1{
    font-size: 66px;
    font-weight: normal;
    line-height: 100px;
    color: #4B4B4B;
    margin-top: 1em;
    @include media(max-width $bp-large){
      font-size: 40px;
      line-height: 60px;
    }
    @include media(max-width $bp-medium){
      font-size: 32px;
      line-height: 50px;
    }
  }
  .more{
    text-align: right;
    a{
      color: $dark-gray;
    }
  }
}

.process{
  background: #9D9D9D;
  @include pad(1em 15px);
  h3{
    color: #fff;
    font-size: rem(32);
    font-weight: normal;
  }
  &--list{
    text-align: center;
    @include span-columns(4);
    h5{
      font-size: 50px;
      color: #fff;
      font-weight: normal;
      @include media(max-width $bp-large){
        font-size: 44px;
      }      
      @include media(max-width $bp-medium){
        font-size: 32px;
      }
    }
  }
}

//category
section.category--list{
  @include margin(null null em(30) null);
  h1{
    margin-bottom: 20px;
    color: $action-color;
  }
  @include margin(3em null);
  section.category-left{
    @include span-columns(6 of 12);
    @include media(max-width $bp-small){
      @include  span-columns(12);
      margin-bottom: 40px;
    }
  }
  section.category-right{
    @include span-columns(6 of 12);
    @include media(max-width $bp-small){
      @include  span-columns(12);
    }
  }
}
.link-list{
  @include padding(null null 3em null);
    li{
      padding-right: 15px;
      @include inline-block;
      a {
        padding-right: 15px;
        border-right: 3px solid $action-color;
      }
    }
  }
.categories-company-trust{
  h3.company-trust--title {
    text-align: center;
    font-size: 1.5em;
  }
  .company-trust--list{
    img{
      max-width: 25%;
    }
    h3{font-size: 2.125rem;}
     @include media(max-width $bp-small){
      @include  span-columns(12);
      @include margin(1em null);
      clear: both;
    }
  }
}
.no-padder-l{
  padding-left: 0px !important;
}
.padder-l-r{
  @include padding(null 75px null 75px);
}
// search results:
section.service-title{
  border-radius: 15px 15px 0px 0px;
  border: 1px solid $border-color;
  border-bottom: none;
  @include background($container-background-color);
  @include outer-container;
  h2{
    padding: 15px 0px 0px 40px;
  }
  section.aside-title{
    @include span-columns(3);
    @include omega();
    border-right: 1px solid $border-color;
    h2{
      color: #b1b1b1;
    }
  }
  section.search-result-title{
    @include span-columns(9);
    h2{
      @include inline-block;
      margin-right:40px;
      padding-left: 150px;
          }
  }
    clear: both;
}
.search-results-list{
  margin-left: 2%;
  section.search-result{
    margin: 40px 0px 20px 0px;
    padding: 60px 30px 60px 100px;
    @include media($bp-small){
      padding: 60px 30px 60px 50px;
    }
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 25px;
    @include outer-container;
    h2.service-title{
      @include inline-block;
    }
    .comapny-details-image{
      @include outer-container;
      @include clearfix;
      .company-wrapper{
        @include span-columns(6);
        h2{
          display: inline-block;
          border-bottom: 5px solid $action-color;
          @include media($bp-small) {
            font-size: 35px;
          }
         }
        .company-details{
          @include padding(null 20px);
          p.adddress{
            @include padding(20px null 0 null);
            margin-bottom: 0px
          }
          .company-tag{
            display: block;
            .btn--primary{
              background-color: $action-color;
              padding: 5px 10px;
              margin-right: 40px;
              border-radius: 3px;
              border: 1px solid $border-color;
              color: #fff;
              @include media($bp-small){
                margin-right: 10px;
                padding: 5px;
              }
           }
         }
            .scale{
              span{
              @include inline-block;
              color: $action-color;
              font-size: 14px;
              border-radius: 3px;
              margin-right: 20px;
              padding: 0px 25px;
              border: 1px solid $border-color;
              line-height: 24px;
              text-align: center;
            }
           }
          .building{
            width: 100%;
            .btn-ghost {
              border: 1px solid #f92300;
              border-radius: 3px;
              padding: 5px 30px;
              margin-right: 20px;
              margin-bottom: 10px;
              color: #000;
              font-size: 14px;
              @include inline-block;
              &.scale{
                border: 1px solid $border-color;
                background-color: rgba(203,203,203,0.22);
              }
            }
          }
        }
      }
      section.company-image{
        padding: 0px;
        @include span-columns(6);
        @include omega();
        img{
          float: right;
        }
      }
    }
    .company-info{
      margin-top: 40px;
      clear: both;
      @include outer-container;
      article{
        @include span-columns(10);
      }
      .save{
        @include span-columns(2);
        padding-left: 60px;
        padding-top: 5px;
      }
    }
    
  }

}
.company-detail{
  @include span-columns(9);

  .content-nav{
    border-bottom: 2px solid $light-gray;
    li{
      display: inline-block;
      @include padding(0px 50px); 
      a{
        color: #626262;
        font-size: 36px;
      }
    }
  }
  .about{
    h1{
      font-size: 70px ;
      @include margin(80px 0); 
      border-bottom: 3px solid $action-color; 
      @include inline-block;
      }
    &--company{
      color: #8B8B8B;
      margin-bottom: 60px;  
      font-size: 22px;
      line-height: 30px;
    .info{
      @include outer-container;
      margin-bottom: 20px;
      &--label{
        @include span-columns(2)
      }
      &--description{
        @include span-columns(10);
        padding-left: 40px;
        ul{
          list-style: disc;
          padding-left: 24px;
        }
      }    
      &--description.line{
        border-bottom: 2px solid $light-gray;
        padding-bottom: 40px;
      }
    }
  }
  }
  
  .policy{
    &--detail{
      @include span-columns(10);
      @include shift(2);
      color: #8B8B8B;
      padding-left: 40px;
      padding-bottom: 32px;
      border-bottom: 2px solid $light-gray;
      float: none;
      &__item{
        display: inline-block;
        width: 30%;
        li{
          line-height: 32px;  
        }
      }
      .sm-circle{
        @include size(5px);
        border-radius: 100%;
        border: 2px solid $light-gray;
        display: inline-block;
        padding: 8px;
        margin-left: 15px;
      }
      .cost{
        span:first-child{
          margin-right: 30px;
        }
      }
    }
    &--document{
      color:  #8B8B8B;
      line-height: 30px;
      padding-top: 40px;
      .info{
        @include outer-container;
        margin-bottom: 20px;
        &--label{
          @include span-columns(2)
        }
        &--description{
          @include span-columns(10);
          padding-left: 40px;
          ul{
            list-style: disc;
            padding-left: 24px;
          }
          li{
            margin-bottom: 15px;
          }
        }    
      }
    }
  }
  .performance{
    padding-top: 40px;
    @include outer-container();
    &--title{
      @include span-columns(2);
    }
    &--photos{
      @include span-columns(10);
    }
    .photos{
      ul{
        @include outer-container;
      }
      li.block{
        @include span-columns(4);
        @include omega(3n);
        margin-bottom: 24px;
      }
      &--title{
        font-size: 18px;
        min-height: 60px;
        line-height: 24px;
      }
      &--image{
        width: 100%;
      }
    }
  }
  .review{
    &--title{
      font-size: 32px;
      &__stars{
        color: #00888B;
      }
    }
    &--summery-contents{
      @include outer-container;
    }
    &--summery{
      @include span-columns(10);
      @include shift(2);
      border-bottom: 2px solid $light-gray;
      padding-bottom: 40px;
    }
    &--type{
      font-size: 22px;
      color: #8B8B8B;
      line-height: 30px;
      @include span-columns(6);
      @include omega();
      &:last-child{
        display: block;
        width: 100%;
        margin-top: 15px;
      }
    }
  }
  .reputation{
    @include outer-container;
    color: #8B8B8B;
    padding-top: 3%;
    &--info{
      @include span-columns(2);
      text-align: center;
    }
    &__name{
      font-size: 22px;
      line-height: 28px;
    }
    &--feedback{
      @include span-columns(10);
      padding-top: 2%;
      min-height: 255px;
      border-bottom: 2px solid #ddd;
      &__title{
        font-size: 26px;
      }
      &__detail{
        font-size: 22px;
        line-height: 26px;
      }
    }
    &--more{
      @include shift(2);
      padding-left: 40px;
      margin-top: 40px;
    }
  }
}
.company-infomation{
 @include span-columns(3) 
}