html,body{
  padding: 0;
  margin: 0;
}
body {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.4;
    line-height: $base-line-height*1.4;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.5;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.6;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.8;
  }
}

.container{
  @include outer-container;
  @include media(max-width $bp-xlarge){
    @include pad(0 40px);  
  }
  @include media(max-width $bp-large){
    @include pad(0 20px);  
  }  
  @include media(max-width $bp-medium){
    @include pad(0 10px);  
  }
  @include media(max-width $bp-small){
    @include pad(0 5px);  
  }
}

.hero{
  background:  asset-url('banner.png') center center no-repeat;
  background-size: cover;
  @include size(100% vh(1080));
  @include media($bp-xlarge){
    @include size(100% 43em);
  }
  @include media(max-width $bp-xlarge){
    @include size(100% 43em);
  }
  @include media(max-width $bp-large){
    @include size(100% 35em);
  }
  @include media(max-width $bp-medium){
    @include size(100% 37em);
  }  
  @include media(max-width $bp-small){
    @include size(100% 35em);
  }    

}
.category{
  @include position(relative, null);
  @include size(100% rem(257));
  @include margin(-80px 0 0 0);
}

.marekting-info{
  text-align: center;
  @include pad(1em 0);
  h1{
    font-size: 66px;
    font-weight: normal;
    line-height: 100px;
    color: #4B4B4B;
    margin-top: 1em;
    @include media(max-width $bp-large){
      font-size: 40px;
      line-height: 60px;
    }
    @include media(max-width $bp-medium){
      font-size: 32px;
      line-height: 50px;
    }
  }
  .more{
    text-align: right;
    a{
      color: $dark-gray;
    }
  }
}

.process{
  background: #9D9D9D;
  @include pad(1em 15px);
  h3{
    color: #fff;
    font-size: rem(32);
    font-weight: normal;
  }
  &--list{
    text-align: center;
    @include span-columns(4);
    h5{
      font-size: 50px;
      color: #fff;
      font-weight: normal;
      @include media(max-width $bp-large){
        font-size: 44px;
      }      
      @include media(max-width $bp-medium){
        font-size: 32px;
      }
    }
  }
}

//category
section.category--list{
  @include margin(null null em(30) null);
  h1{
    color: $action-color;
  }
  @include margin(3em null);
  section.category-left{
    @include span-columns(6 of 12);
    @include media(max-width $bp-small){
      @include  span-columns(12);
      margin-bottom: 40px;
    }
  }
  section.category-right{
    @include span-columns(6 of 12);
    @include media(max-width $bp-small){
      @include  span-columns(12);
    }
  }
}
.link-list{
  @include padding(null null em(20) null);
    li{
      @include inline-block;
      a {
        @include padding(null em(10));
          border-right: 1px solid $action-color;
      }
    }
  }
.categories-company-trust{
  h3.company-trust--title {
    text-align: center;
  }
  .company-trust--list{
     @include media(max-width $bp-small){
      @include  span-columns(12);
      @include margin(1em null);
    }
  }
}

.padder-l-r{
  @include padding(null 75px null 75px);
}
